<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'personal_portfolio/custom.css' %}">
    
    <link rel= 'icon' type= 'image/png' href="{% static 'personal_portfolio/logo1.png' %}">
    <title>Himanshi's Portfolio</title>
  </head>
  <body>
   <!-- navigation Bar start -->
   <div class= "container my-style" style="border-bottom: 1px solid rgba(0,0,0,.2);">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">    
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
             <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'personal_portfolio/logo1.png' %}" width="50" height="50" alt="" loading="lazy">
             </a>  
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">      
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% static 'personal_portfolio/HImanshi Panchal CV.pdf' %}" target= "_blank">Resume <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin" target= "_blank">LinkedIn</a>
                  </li>    
                  <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="{% url 'blog:all_blogs' %}">Blogs</a>
                  </li>      
                </ul>        
            </div>
        </nav>
    </div>
    <!-- navigation Bar end -->
    
    <!-- Main Code start -->
    {% block content %}{% endblock %}
    <!-- Main Code end -->
    
    <!-- Footer start -->
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>        
      </div>
    </footer>
    <!-- Footer start -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>